/* .col-md-6 mb-4 {
    margin:auto;
} */
/* .form-control mr-sm-2 {
    text-align: center;
} */
.text{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
}
.img-fluid{
    margin:2%;
}
.dateInput{
    width: 165px;
}
.dateInputBox{
    margin-left: 10%;
}