.text{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
}
.img-fluid{
    margin:2%;
}
.dateInput{
    width: 165px;
}
.dateInputBox{
    margin-left: 10%;
}

#content {
    height: 700px;
}